# JDigiDoc config file

# Signature processor settings
DIGIDOC_SIGN_IMPL=ee.sk.digidoc.factory.PKCS11SignatureFactory
DIGIDOC_SIGN_IMPL_PKCS11=ee.sk.digidoc.factory.PKCS11SignatureFactory
DIGIDOC_NOTARY_IMPL=ee.sk.digidoc.factory.BouncyCastleNotaryFactory
DIGIDOC_FACTORY_IMPL=ee.sk.digidoc.factory.SAXDigiDocFactory
CANONICALIZATION_FACTORY_IMPL=ee.sk.digidoc.c14n.TinyXMLCanonicalizer
#CANONICALIZATION_FACTORY_IMPL=ee.sk.digidoc.factory.DOMCanonicalizationFactory
CRL_FACTORY_IMPL=ee.sk.digidoc.factory.CRLCheckerFactory
ENCRYPTED_DATA_PARSER_IMPL=ee.sk.xmlenc.factory.EncryptedDataSAXParser
ENCRYPTED_STREAM_PARSER_IMPL=ee.sk.xmlenc.factory.EncryptedStreamSAXParser
DIGIDOC_TSLFAC_IMPL=ee.sk.digidoc.tsl.DigiDocTrustServiceFactory
DIGIDOC_SIGN_IMPL_PKCS12=ee.sk.digidoc.factory.Pkcs12SignatureFactory
DIGIDOC_SIGN_IMPL_PKCS11_SUN=ee.sk.digidoc.factory.SunPkcs11SignatureFactory
DIGIDOC_TIMESTAMP_IMPL=ee.sk.digidoc.factory.BouncyCastleTimestampFactory

# Big file handling
DIGIDOC_MAX_DATAFILE_CACHED=4096
DIGIDOC_DF_CACHE_DIR=tmp

# Security settings
DIGIDOC_SECURITY_PROVIDER=org.bouncycastle.jce.provider.BouncyCastleProvider
DIGIDOC_SECURITY_PROVIDER_NAME=BC

# PKCS#11 module settings - !!!change this!!! according to your signature device!!!
DIGIDOC_SIGN_PKCS11_DRIVER=/usr/lib/opensc-pkcs11.so

# VS: this is PKCS#11 driver for AID cards (GPK8000)
#DIGIDOC_SIGN_PKCS11_DRIVER=pk2priv
DIGIDOC_SIGN_PKCS11_WRAPPER=PKCS11Wrapper
#DIGIDOC_VERIFY_ALGORITHM=RSA//NOPADDING
DIGIDOC_VERIFY_ALGORITHM=RSA//

DIGIDOC_DRIVER_BASE_URL=http://localhost:8080/XMLSign/

# VS: log4j config file - change this!!!
# DIGIDOC_LOG4J_CONFIG=./SignatureLogging.properties

# OCSP responder URL - change this!!!
DIGIDOC_OCSP_RESPONDER_URL=http://ocsp.sk.ee
# This is a test & demo responder
# DIGIDOC_OCSP_RESPONDER_URL=http://www.openxades.org/cgi-bin/ocsp.cgi
# your HTTP proxy if necessary - change this if required or comment out!!!
# CHANGE THIS !!!
#DIGIDOC_PROXY_HOST=proxy.sebank.se
#DIGIDOC_PROXY_PORT=8080

# VS: sign OCSP requests or not. Depends on your responder
SIGN_OCSP_REQUESTS=false
OCSP_SAVE_DIR=.

# CHANGE THIS !!!
# The PKCS#12 file used to sign OCSP requests
DIGIDOC_PKCS12_CONTAINER=/home/veiko/conf/31776.p12d
# password for this key
DIGIDOC_PKCS12_PASSWD=WK8iA6y8


# serial number of your PKCS#12 signature cert. 
# Use ee.sk.test.OCSPCertFinder to find this
# CHANGE THIS !!!
DIGIDOC_OCSP_SIGN_CERT_SERIAL=31776


# Set this to true if you want jdigidoc to use ca certs registered in jdigidoc.cfg
# If you want jdigidoc to use only TSL-s set this to false.
DIGIDOC_USE_LOCAL_TSL=true

# CA certificates. Used to do a prelimenary check of signer.
# use jar:// to get certs from classpath
# use forward slashes both on your linux and other environments
DIGIDOC_CAS=1
DIGIDOC_CA_1_NAME=AS Sertifitseerimiskeskus
DIGIDOC_CA_1_TRADENAME=SK
DIGIDOC_CA_1_CERTS=18
DIGIDOC_CA_1_CERT1=jar://certs/EID-SK.crt
DIGIDOC_CA_1_CERT2=jar://certs/EID-SK 2007.crt
DIGIDOC_CA_1_CERT3=jar://certs/ESTEID-SK.crt
DIGIDOC_CA_1_CERT4=jar://certs/ESTEID-SK 2007.crt
DIGIDOC_CA_1_CERT5=jar://certs/JUUR-SK.crt
DIGIDOC_CA_1_CERT6=jar://certs/KLASS3-SK.crt
DIGIDOC_CA_1_CERT7=jar://certs/EECCRCA.crt
DIGIDOC_CA_1_CERT8=jar://certs/ESTEID-SK 2011.crt
DIGIDOC_CA_1_CERT9=jar://certs/EID-SK 2011.crt
DIGIDOC_CA_1_CERT10=jar://certs/KLASS3-SK 2010.crt
DIGIDOC_CA_1_CERT11=jar://certs/KLASS3-SK 2010 EECCRCA.crt

# SK-Test ca certs - only present if you have jdcerts.jar in CLASSPATH
DIGIDOC_CA_1_CERT12=jar://certs/TEST-SK.crt
DIGIDOC_CA_1_CERT13=jar://certs/TEST EECCRCA.crt
DIGIDOC_CA_1_CERT14=jar://certs/TEST ESTEID-SK 2011.crt
DIGIDOC_CA_1_CERT15=jar://certs/TEST EID-SK 2011.crt
DIGIDOC_CA_1_CERT16=jar://certs/TEST KLASS3 2010.crt
DIGIDOC_CA_1_CERT17=jar://certs/TEST Juur-SK.crt


# OCSP responder certificates - change this!!!
# Note! if you add or remove some of these certificates you should update the following number
# also pay attention to proper naming
DIGIDOC_CA_1_OCSPS=19

DIGIDOC_CA_1_OCSP1_CA_CN=ESTEID-SK
DIGIDOC_CA_1_OCSP1_CA_CERT=jar://certs/ESTEID-SK 2007.crt
DIGIDOC_CA_1_OCSP1_CN=ESTEID-SK 2007 OCSP RESPONDER 
DIGIDOC_CA_1_OCSP1_CERT=jar://certs/ESTEID-SK 2007 OCSP.crt
DIGIDOC_CA_1_OCSP1_URL=http://ocsp.sk.ee

DIGIDOC_CA_1_OCSP2_CA_CN=KLASS3-SK
DIGIDOC_CA_1_OCSP2_CA_CERT=jar://certs/KLASS3-SK.crt
DIGIDOC_CA_1_OCSP2_CN=KLASS3-SK OCSP RESPONDER
DIGIDOC_CA_1_OCSP2_CERT=jar://certs/KLASS3-SK OCSP.crt
DIGIDOC_CA_1_OCSP2_CERT_1=jar://certs/KLASS3-SK OCSP 2006.crt
DIGIDOC_CA_1_OCSP2_URL=http://ocsp.sk.ee

DIGIDOC_CA_1_OCSP3_CA_CN=EID-SK
DIGIDOC_CA_1_OCSP3_CA_CERT=jar://certs/EID-SK 2007.crt
DIGIDOC_CA_1_OCSP3_CN=EID-SK 2007 OCSP RESPONDER 
DIGIDOC_CA_1_OCSP3_CERT=jar://certs/EID-SK 2007 OCSP.crt
DIGIDOC_CA_1_OCSP3_URL=http://ocsp.sk.ee

# EID certificates (for example Mobile-ID certificates) issued since
# 20.01.2007 validity confirmation service
DIGIDOC_CA_1_OCSP4_CERT=jar://certs/EID-SK 2007 OCSP.crt
DIGIDOC_CA_1_OCSP4_CN=EID-SK OCSP RESPONDER 2007
DIGIDOC_CA_1_OCSP4_CA_CERT=jar://certs/EID-SK 2007.crt
DIGIDOC_CA_1_OCSP4_CA_CN=EID-SK 2007
DIGIDOC_CA_1_OCSP4_URL=http://ocsp.sk.ee

# Since 20.01.2007 issued ID-card certificates validity confirmation
# service
DIGIDOC_CA_1_OCSP5_CN=ESTEID-SK 2007 OCSP RESPONDER
DIGIDOC_CA_1_OCSP5_CERT=jar://certs/ESTEID-SK 2007 OCSP.crt
DIGIDOC_CA_1_OCSP5_CA_CERT=jar://certs/ESTEID-SK 2007.crt
DIGIDOC_CA_1_OCSP5_CA_CN=ESTEID-SK 2007
DIGIDOC_CA_1_OCSP5_URL=http://ocsp.sk.ee

DIGIDOC_CA_1_OCSP6_CN=ESTEID-SK 2007 OCSP RESPONDER 2010
DIGIDOC_CA_1_OCSP6_CERT=jar://certs/ESTEID-SK 2007 OCSP 2010.crt
DIGIDOC_CA_1_OCSP6_CA_CERT=jar://certs/ESTEID-SK 2007.crt
DIGIDOC_CA_1_OCSP6_CA_CN=ESTEID-SK 2007
DIGIDOC_CA_1_OCSP6_URL=http://ocsp.sk.ee

DIGIDOC_CA_1_OCSP7_CERT=jar://certs/EID-SK 2007 OCSP 2010.crt
DIGIDOC_CA_1_OCSP7_CN=EID-SK 2007 OCSP RESPONDER 2010
DIGIDOC_CA_1_OCSP7_CA_CERT=jar://certs/EID-SK 2007.crt
DIGIDOC_CA_1_OCSP7_CA_CN=EID-SK 2007
DIGIDOC_CA_1_OCSP7_URL=http://ocsp.sk.ee

DIGIDOC_CA_1_OCSP8_CERT=jar://certs/EID-SK 2007 OCSP.crt
DIGIDOC_CA_1_OCSP8_CN=EID-SK 2007 OCSP RESPONDER
DIGIDOC_CA_1_OCSP8_CA_CERT=jar://certs/EID-SK 2007.crt
DIGIDOC_CA_1_OCSP8_CA_CN=EID-SK 2007
DIGIDOC_CA_1_OCSP8_URL=http://ocsp.sk.ee

DIGIDOC_CA_1_OCSP9_CERT=jar://certs/ESTEID-SK OCSP 2005.crt
DIGIDOC_CA_1_OCSP9_CN=ESTEID-SK OCSP RESPONDER 2005
DIGIDOC_CA_1_OCSP9_CA_CERT=jar://certs/ESTEID-SK.crt
DIGIDOC_CA_1_OCSP9_CA_CN=ESTEID-SK
DIGIDOC_CA_1_OCSP9_URL=http://ocsp.sk.ee

DIGIDOC_CA_1_OCSP10_CERT=jar://certs/SK OCSP 2011.crt
DIGIDOC_CA_1_OCSP10_CN=SK OCSP RESPONDER 2011
DIGIDOC_CA_1_OCSP10_CA_CERT=jar://certs/EECCRCA.crt
DIGIDOC_CA_1_OCSP10_CA_CN=EE Certification Centre Root CA
DIGIDOC_CA_1_OCSP10_URL=http://ocsp.sk.ee

DIGIDOC_CA_1_OCSP11_CA_CN=KLASS3-SK
DIGIDOC_CA_1_OCSP11_CA_CERT=jar://certs/KLASS3-SK.crt
DIGIDOC_CA_1_OCSP11_CN=SK Proxy OCSP Responder 2009
DIGIDOC_CA_1_OCSP11_CERT=jar://certs/SK_proxy_OCSP_responder_2009.pem.cer
DIGIDOC_CA_1_OCSP11_URL=http://ocsp.sk.ee

DIGIDOC_CA_1_OCSP12_CA_CN=KLASS3-SK
DIGIDOC_CA_1_OCSP12_CA_CERT=jar://certs/KLASS3-SK.crt
DIGIDOC_CA_1_OCSP12_CN=KLASS3-SK OCSP RESPONDER 2009
DIGIDOC_CA_1_OCSP12_CERT=jar://certs/KLASS3-SK OCSP 2009.crt
DIGIDOC_CA_1_OCSP12_URL=http://ocsp.sk.ee

DIGIDOC_CA_1_OCSP13_CERT=jar://certs/ESTEID-SK OCSP.crt
DIGIDOC_CA_1_OCSP13_CN=ESTEID-SK OCSP RESPONDER
DIGIDOC_CA_1_OCSP13_CA_CERT=jar://certs/ESTEID-SK.crt
DIGIDOC_CA_1_OCSP13_CA_CN=ESTEID-SK
DIGIDOC_CA_1_OCSP13_URL=http://ocsp.sk.ee

DIGIDOC_CA_1_OCSP14_CERT=jar://certs/EID-SK OCSP.crt
DIGIDOC_CA_1_OCSP14_CERT_1=jar://certs/EID-SK OCSP 2006.crt
DIGIDOC_CA_1_OCSP14_CN=EID-SK OCSP RESPONDER
DIGIDOC_CA_1_OCSP14_CA_CERT=jar://certs/EID-SK.crt
DIGIDOC_CA_1_OCSP14_CA_CN=EID-SK
DIGIDOC_CA_1_OCSP14_URL=http://ocsp.sk.ee

DIGIDOC_CA_1_OCSP15_CERT=jar://certs/KLASS3-SK 2010 OCSP.crt
DIGIDOC_CA_1_OCSP15_CN=KLASS3-SK 2010 OCSP RESPONDER
DIGIDOC_CA_1_OCSP15_CA_CERT=jar://certs/KLASS3-SK 2010.crt
DIGIDOC_CA_1_OCSP15_CA_CN=KLASS3-SK 2010
DIGIDOC_CA_1_OCSP15_URL=http://ocsp.sk.ee

######## Test ocsp responders ##################

DIGIDOC_CA_1_OCSP16_CERT=jar://certs/TEST-SK OCSP 2005.crt
DIGIDOC_CA_1_OCSP16_CN=TEST-SK OCSP RESPONDER 2005
DIGIDOC_CA_1_OCSP16_CA_CERT=jar://certs/TEST-SK.crt
DIGIDOC_CA_1_OCSP16_CA_CN=TEST-SK
DIGIDOC_CA_1_OCSP16_URL=http://www.openxades.org/cgi-bin/ocsp.cgi

DIGIDOC_CA_1_OCSP17_CERT=jar://certs/TEST SK OCSP 2011.crt
DIGIDOC_CA_1_OCSP17_CN=TEST of SK OCSP RESPONDER 2011
DIGIDOC_CA_1_OCSP17_CA_CERT=jar://certs/TEST EECCRCA.crt
DIGIDOC_CA_1_OCSP17_CA_CN=TEST of EE Certification Centre Root CA
DIGIDOC_CA_1_OCSP17_URL=http://www.openxades.org/cgi-bin/ocsp.cgi

DIGIDOC_CA_1_OCSP18_CERT=jar://certs/TEST SK OCSP 2011.crt
DIGIDOC_CA_1_OCSP18_CN=TEST of SK OCSP RESPONDER 2011
DIGIDOC_CA_1_OCSP18_CA_CERT=jar://certs/KLASS3-SK 2010.crt
DIGIDOC_CA_1_OCSP18_CA_CN=KLASS3-SK 2010
DIGIDOC_CA_1_OCSP18_URL=http://www.openxades.org/cgi-bin/ocsp.cgi

DIGIDOC_CA_1_OCSP19_CA_CN=TEST of ESTEID-SK 2011
DIGIDOC_CA_1_OCSP19_CA_CERT=jar://certs/TEST ESTEID-SK 2011.crt
DIGIDOC_CA_1_OCSP19_CN=TEST of SK OCSP RESPONDER 2011
DIGIDOC_CA_1_OCSP19_CERT=jar://certs/TEST SK OCSP 2011.crt
DIGIDOC_CA_1_OCSP19_URL=http://www.openxades.org/cgi-bin/ocsp.cgi

# OCSP or CRL selectors
DIGIDOC_CERT_VERIFIER=OCSP
DIGIDOC_SIGNATURE_VERIFIER=OCSP

# VS not required if you don't use CRL-s
# CRL settings
CRL_USE_LDAP=false
CRL_FILE=esteid.crl
CRL_URL=http://www.sk.ee/crls/esteid/esteid.crl
CRL_SEARCH_BASE=cn=ESTEID-SK,ou=ESTEID,o=AS Sertifitseerimiskeskus,c=EE
CRL_FILTER=(certificaterevocationlist;binary=*)
CLR_LDAP_DRIVER=com.ibm.jndi.LDAPCtxFactory
CRL_LDAP_URL=ldap://194.126.99.76:389
CRL_LDAP_ATTR=certificaterevocationlist;binary
CRL_PROXY_HOST=<http-proxy-server>
CRL_PROXY_PORT=<http-proxy-port>

# Encryption settings
DIGDOC_ENCRYPT_KEY_ALG=AES
#DIGIDOC_ENCRYPTION_ALOGORITHM=AES/CBC/PKCS7Padding
DIGIDOC_ENCRYPTION_ALOGORITHM=AES/CBC/NOPADDING
DIGIDOC_SECRANDOM_ALGORITHM=SHA1PRNG
DIGIDOC_KEY_ALOGORITHM=RSA/NONE/PKCS1Padding
DIGDOC_ENCRYPT_USE_IV=TRUE
