* text=auto !eol
doc/environmentSetup.txt -text
doc/redeploy_adit.cmd -text
doc/testMessages/getDocument.v1.xml -text
doc/testMessages/getJoined.v1.xml -text
doc/testMessages/getUserInfo.v1/base64 -text
doc/testMessages/getUserInfo.v1/getUserInfo.v1.attachment.xml -text
doc/testMessages/getUserInfo.v1/getUserInfo.v1.xml -text
doc/testMessages/join.v1.xml -text
doc/testMessages/saveDocument.v1/base64 -text
doc/testMessages/saveDocument.v1/saveDocument.v1.attachment.xml -text
doc/testMessages/saveDocument.v1/saveDocument.v1.xml -text
doc/testMessages/sendDocument.v1/sendDocument.v1.xml -text
doc/testMessages/unJoin.v1.xml -text
doc/xtee_generate_objects_readme.txt -text
lib/JDigiDoc.jar -text
lib/antlr-2.7.6.jar -text
lib/castor-1.3.1-core.jar -text
lib/castor-1.3.1.jar -text
lib/commons-codec-1.4.jar -text
lib/commons-collections-3.1.jar -text
lib/commons-logging-1.1.1.jar -text
lib/dom4j-1.6.1.jar -text
lib/hibernate3.jar -text
lib/iaik_jce.jar -text
lib/javassist-3.9.0.GA.jar -text
lib/jce-jdk13-123.jar -text
lib/jdcerts.jar -text
lib/jta-1.1.jar -text
lib/log4j-1.2.16.jar -text
lib/ojdbc6.jar -text
lib/orai18n.jar -text
lib/quartz-1.8.3.jar -text
lib/slf4j-api-1.5.8.jar -text
lib/slf4j-log4j12-1.5.8.jar -text
lib/sources/spring-ws-1.5.9-sources.jar -text
lib/sources/xtee-server-1.0-RC1-sources.jar -text
lib/spring-webmvc.jar -text
lib/spring-ws-1.5.9-all.jar -text
lib/spring.jar -text
lib/teavituskalender-types.jar -text
lib/tinyxmlcanonicalizer-0.9.0.jar -text
lib/wsdl4j-1.6.1.jar -text
lib/wsdl4j-qname-1.6.1.jar -text
lib/xbean.jar -text
lib/xercesImpl.jar -text
lib/xml-apis.jar -text
lib/xmlParserAPIs.jar -text
lib/xmlbeans-qname.jar -text
lib/xmlsec.jar -text
lib/xtee-client-1.0-RC1.jar -text
lib/xtee-server-1.0-RC1.jar -text
/pom.xml -text
sql/database.sql -text
sql/document_dvk_status.dml.sql -text
sql/document_history_type.dml.sql -text
sql/document_sharing_type.dml.sql -text
sql/document_type.dml.sql -text
sql/notification_type.dml.sql -text
sql/run.sql -text
sql/run_dml.sql -text
sql/stored_proc.sql -text
sql/testdata/adit_user.dml.sql -text
sql/testdata/create_tablespaces.sql -text
sql/testdata/remote_application.dml.sql -text
sql/usertype.dml.sql -text
src/main/java/ee/adit/dao/AbstractAditDAO.java -text
src/main/java/ee/adit/dao/AccessRestrictionDAO.java -text
src/main/java/ee/adit/dao/AditUserDAO.java -text
src/main/java/ee/adit/dao/DocumentDAO.java -text
src/main/java/ee/adit/dao/DocumentFileDAO.java -text
src/main/java/ee/adit/dao/DocumentHistoryDAO.java -text
src/main/java/ee/adit/dao/DocumentSharingDAO.java -text
src/main/java/ee/adit/dao/DocumentTypeDAO.java -text
src/main/java/ee/adit/dao/DocumentWfStatusDAO.java -text
src/main/java/ee/adit/dao/NotificationLogDAO.java -text
src/main/java/ee/adit/dao/NotificationTypeDAO.java -text
src/main/java/ee/adit/dao/RemoteApplicationDAO.java -text
src/main/java/ee/adit/dao/RequestLogDAO.java -text
src/main/java/ee/adit/dao/UsertypeDAO.java -text
src/main/java/ee/adit/dao/pojo/AccessRestriction.java -text
src/main/java/ee/adit/dao/pojo/AditLog.java -text
src/main/java/ee/adit/dao/pojo/AditUser.java -text
src/main/java/ee/adit/dao/pojo/Document.java -text
src/main/java/ee/adit/dao/pojo/DocumentDvkStatus.java -text
src/main/java/ee/adit/dao/pojo/DocumentFile.java -text
src/main/java/ee/adit/dao/pojo/DocumentFileDeflateResult.java -text
src/main/java/ee/adit/dao/pojo/DocumentHistory.java -text
src/main/java/ee/adit/dao/pojo/DocumentHistoryType.java -text
src/main/java/ee/adit/dao/pojo/DocumentSharing.java -text
src/main/java/ee/adit/dao/pojo/DocumentSharingType.java -text
src/main/java/ee/adit/dao/pojo/DocumentType.java -text
src/main/java/ee/adit/dao/pojo/DocumentWfStatus.java -text
src/main/java/ee/adit/dao/pojo/DownloadRequestLog.java -text
src/main/java/ee/adit/dao/pojo/ErrorLog.java -text
src/main/java/ee/adit/dao/pojo/MetadataRequestLog.java -text
src/main/java/ee/adit/dao/pojo/NotificationLog.java -text
src/main/java/ee/adit/dao/pojo/NotificationType.java -text
src/main/java/ee/adit/dao/pojo/RemoteApplication.java -text
src/main/java/ee/adit/dao/pojo/RequestLog.java -text
src/main/java/ee/adit/dao/pojo/Signature.java -text
src/main/java/ee/adit/dao/pojo/UserNotification.java -text
src/main/java/ee/adit/dao/pojo/UserNotificationId.java -text
src/main/java/ee/adit/dao/pojo/Usertype.java -text
src/main/java/ee/adit/dao/test/TestDocumentDAO.java -text
src/main/java/ee/adit/dvk/SendJob.java -text
src/main/java/ee/adit/exception/AditException.java -text
src/main/java/ee/adit/exception/AditInternalException.java -text
src/main/java/ee/adit/pojo/Activity.java -text
src/main/java/ee/adit/pojo/ActivityActor.java -text
src/main/java/ee/adit/pojo/ActivitySubject.java -text
src/main/java/ee/adit/pojo/ArrayOfCreatorApplication.java -text
src/main/java/ee/adit/pojo/ArrayOfDocumentDvkStatus.java -text
src/main/java/ee/adit/pojo/ArrayOfDocumentType.java -text
src/main/java/ee/adit/pojo/ArrayOfDocumentWorkflowStatus.java -text
src/main/java/ee/adit/pojo/ArrayOfEmailAddress.java -text
src/main/java/ee/adit/pojo/ArrayOfFileId.java -text
src/main/java/ee/adit/pojo/ArrayOfMessage.java -text
src/main/java/ee/adit/pojo/ArrayOfNotification.java -text
src/main/java/ee/adit/pojo/ArrayOfRecipientStatus.java -text
src/main/java/ee/adit/pojo/ArrayOfUserCode.java -text
src/main/java/ee/adit/pojo/ConfirmSignatureRequest.java -text
src/main/java/ee/adit/pojo/ConfirmSignatureRequestSignature.java -text
src/main/java/ee/adit/pojo/ConfirmSignatureResponse.java -text
src/main/java/ee/adit/pojo/DeflateDocumentRequest.java -text
src/main/java/ee/adit/pojo/DeflateDocumentResponse.java -text
src/main/java/ee/adit/pojo/DeleteDocumentFileRequest.java -text
src/main/java/ee/adit/pojo/DeleteDocumentFileResponse.java -text
src/main/java/ee/adit/pojo/DeleteDocumentRequest.java -text
src/main/java/ee/adit/pojo/DeleteDocumentResponse.java -text
src/main/java/ee/adit/pojo/DocumentSendingData.java -text
src/main/java/ee/adit/pojo/DocumentSendingRecipient.java -text
src/main/java/ee/adit/pojo/DocumentSharingData.java -text
src/main/java/ee/adit/pojo/DocumentSharingRecipient.java -text
src/main/java/ee/adit/pojo/GetDocumentFileRequest.java -text
src/main/java/ee/adit/pojo/GetDocumentFileResponse.java -text
src/main/java/ee/adit/pojo/GetDocumentFileResponseAttachment.java -text
src/main/java/ee/adit/pojo/GetDocumentFileResponseFiles.java -text
src/main/java/ee/adit/pojo/GetDocumentHistoryRequest.java -text
src/main/java/ee/adit/pojo/GetDocumentHistoryResponse.java -text
src/main/java/ee/adit/pojo/GetDocumentHistoryResponseAttachment.java -text
src/main/java/ee/adit/pojo/GetDocumentHistoryResponseDocument.java -text
src/main/java/ee/adit/pojo/GetDocumentListRequest.java -text
src/main/java/ee/adit/pojo/GetDocumentListResponse.java -text
src/main/java/ee/adit/pojo/GetDocumentListResponseAttachment.java -text
src/main/java/ee/adit/pojo/GetDocumentListResponseList.java -text
src/main/java/ee/adit/pojo/GetDocumentRequest.java -text
src/main/java/ee/adit/pojo/GetDocumentResponse.java -text
src/main/java/ee/adit/pojo/GetDocumentResponseDocument.java -text
src/main/java/ee/adit/pojo/GetJoinedRequest.java -text
src/main/java/ee/adit/pojo/GetJoinedResponse.java -text
src/main/java/ee/adit/pojo/GetJoinedResponseAttachment.java -text
src/main/java/ee/adit/pojo/GetJoinedResponseAttachmentUser.java -text
src/main/java/ee/adit/pojo/GetNotificationsRequest.java -text
src/main/java/ee/adit/pojo/GetNotificationsResponse.java -text
src/main/java/ee/adit/pojo/GetUserInfoRequest.java -text
src/main/java/ee/adit/pojo/GetUserInfoRequestAttachmentUserList.java -text
src/main/java/ee/adit/pojo/GetUserInfoResponse.java -text
src/main/java/ee/adit/pojo/GetUserInfoResponseAttachment.java -text
src/main/java/ee/adit/pojo/GetUserInfoResponseAttachmentUser.java -text
src/main/java/ee/adit/pojo/JoinRequest.java -text
src/main/java/ee/adit/pojo/JoinResponse.java -text
src/main/java/ee/adit/pojo/MarkDocumentViewedRequest.java -text
src/main/java/ee/adit/pojo/MarkDocumentViewedResponse.java -text
src/main/java/ee/adit/pojo/Message.java -text
src/main/java/ee/adit/pojo/ModifyStatusRequest.java -text
src/main/java/ee/adit/pojo/ModifyStatusResponse.java -text
src/main/java/ee/adit/pojo/Notification.java -text
src/main/java/ee/adit/pojo/ObjectFactory.java -text
src/main/java/ee/adit/pojo/OutputDocument.java -text
src/main/java/ee/adit/pojo/OutputDocumentFile.java -text
src/main/java/ee/adit/pojo/OutputDocumentFilesList.java -text
src/main/java/ee/adit/pojo/PrepareSignatureRequest.java -text
src/main/java/ee/adit/pojo/PrepareSignatureRequestCert.java -text
src/main/java/ee/adit/pojo/PrepareSignatureResponse.java -text
src/main/java/ee/adit/pojo/RecipientStatus.java -text
src/main/java/ee/adit/pojo/SaveDocumentFileRequest.java -text
src/main/java/ee/adit/pojo/SaveDocumentFileRequestFile.java -text
src/main/java/ee/adit/pojo/SaveDocumentFileResponse.java -text
src/main/java/ee/adit/pojo/SaveDocumentRequest.java -text
src/main/java/ee/adit/pojo/SaveDocumentRequestAttachment.java -text
src/main/java/ee/adit/pojo/SaveDocumentRequestDocument.java -text
src/main/java/ee/adit/pojo/SaveDocumentResponse.java -text
src/main/java/ee/adit/pojo/SendDocumentRequest.java -text
src/main/java/ee/adit/pojo/SendDocumentResponse.java -text
src/main/java/ee/adit/pojo/SetNotificationsRequest.java -text
src/main/java/ee/adit/pojo/SetNotificationsResponse.java -text
src/main/java/ee/adit/pojo/ShareDocumentRequest.java -text
src/main/java/ee/adit/pojo/ShareDocumentResponse.java -text
src/main/java/ee/adit/pojo/Signature.java -text
src/main/java/ee/adit/pojo/Success.java -text
src/main/java/ee/adit/pojo/UnJoinRequest.java -text
src/main/java/ee/adit/pojo/UnJoinResponse.java -text
src/main/java/ee/adit/pojo/UnShareDocumentRequest.java -text
src/main/java/ee/adit/pojo/UnShareDocumentResponse.java -text
src/main/java/ee/adit/pojo/UserList.java -text
src/main/java/ee/adit/schedule/ScheduleClient.java -text
src/main/java/ee/adit/service/DocumentService.java -text
src/main/java/ee/adit/service/LogService.java -text
src/main/java/ee/adit/service/UserService.java -text
src/main/java/ee/adit/util/Configuration.java -text
src/main/java/ee/adit/util/CustomXTeeHeader.java -text
src/main/java/ee/adit/util/HibernateUtil.java -text
src/main/java/ee/adit/util/SaveDocumentAttachmentHandler.java -text
src/main/java/ee/adit/util/Util.java -text
src/main/java/ee/adit/util/XMLUtil.java -text
src/main/java/ee/adit/ws/endpoint/AbstractAditBaseEndpoint.java -text
src/main/java/ee/adit/ws/endpoint/XteeCustomEndpoint.java -text
src/main/java/ee/adit/ws/endpoint/document/ConfirmSignatureEndpoint.java -text
src/main/java/ee/adit/ws/endpoint/document/DeflateDocumentEndpoint.java -text
src/main/java/ee/adit/ws/endpoint/document/DeleteDocumentEndpoint.java -text
src/main/java/ee/adit/ws/endpoint/document/DeleteDocumentFileEndpoint.java -text
src/main/java/ee/adit/ws/endpoint/document/GetDocumentEndpoint.java -text
src/main/java/ee/adit/ws/endpoint/document/GetDocumentFileEndpoint.java -text
src/main/java/ee/adit/ws/endpoint/document/GetDocumentHistoryEndpoint.java -text
src/main/java/ee/adit/ws/endpoint/document/GetDocumentListEndpoint.java -text
src/main/java/ee/adit/ws/endpoint/document/MarkDocumentViewedEndpoint.java -text
src/main/java/ee/adit/ws/endpoint/document/ModifyStatusEndpoint.java -text
src/main/java/ee/adit/ws/endpoint/document/PrepareSignatureEndpoint.java -text
src/main/java/ee/adit/ws/endpoint/document/SaveDocumentEndpoint.java -text
src/main/java/ee/adit/ws/endpoint/document/SaveDocumentFileEndpoint.java -text
src/main/java/ee/adit/ws/endpoint/document/SendDocumentEndpoint.java -text
src/main/java/ee/adit/ws/endpoint/document/ShareDocumentEndpoint.java -text
src/main/java/ee/adit/ws/endpoint/document/UnShareDocumentEndpoint.java -text
src/main/java/ee/adit/ws/endpoint/user/GetJoinedEndpoint.java -text
src/main/java/ee/adit/ws/endpoint/user/GetNotificationsEndpoint.java -text
src/main/java/ee/adit/ws/endpoint/user/GetUserInfoEndpoint.java -text
src/main/java/ee/adit/ws/endpoint/user/JoinEndpoint.java -text
src/main/java/ee/adit/ws/endpoint/user/SetNotificationsEndpoint.java -text
src/main/java/ee/adit/ws/endpoint/user/UnJoinEndpoint.java -text
src/main/resources/SignatureLogging.properties -text
src/main/resources/adit-castor-mapping.xml -text
src/main/resources/adit-servlet.xml -text
src/main/resources/adit.xsd -text
src/main/resources/hbm/AccessRestriction.hbm.xml -text
src/main/resources/hbm/AditLog.hbm.xml -text
src/main/resources/hbm/AditUser.hbm.xml -text
src/main/resources/hbm/Document.hbm.xml -text
src/main/resources/hbm/DocumentDvkStatus.hbm.xml -text
src/main/resources/hbm/DocumentFile.hbm.xml -text
src/main/resources/hbm/DocumentFileDeflateResult.hbm.xml -text
src/main/resources/hbm/DocumentHistory.hbm.xml -text
src/main/resources/hbm/DocumentHistoryType.hbm.xml -text
src/main/resources/hbm/DocumentSharing.hbm.xml -text
src/main/resources/hbm/DocumentSharingType.hbm.xml -text
src/main/resources/hbm/DocumentType.hbm.xml -text
src/main/resources/hbm/DocumentWfStatus.hbm.xml -text
src/main/resources/hbm/DownloadRequestLog.hbm.xml -text
src/main/resources/hbm/ErrorLog.hbm.xml -text
src/main/resources/hbm/MetadataRequestLog.hbm.xml -text
src/main/resources/hbm/NotificationLog.hbm.xml -text
src/main/resources/hbm/NotificationType.hbm.xml -text
src/main/resources/hbm/RemoteApplication.hbm.xml -text
src/main/resources/hbm/RequestLog.hbm.xml -text
src/main/resources/hbm/Signature.hbm.xml -text
src/main/resources/hbm/UserNotification.hbm.xml -text
src/main/resources/hbm/Usertype.hbm.xml -text
src/main/resources/hibernate.cfg.xml -text
src/main/resources/hibernate.reveng.xml -text
src/main/resources/jdigidoc.cfg -text
src/main/resources/jndi.properties -text
src/main/resources/log4j.xml -text
src/main/resources/messages_en.properties -text
src/main/resources/xtee.properties -text
src/main/webapp/META-INF/MANIFEST.MF -text
src/main/webapp/WEB-INF/web.xml -text
