* text=auto !eol
adit/lib/castor-1.3.1-core.jar -text
adit/lib/castor-1.3.1.jar -text
adit/lib/log4j-1.2.15.jar -text
adit/lib/sources/spring-ws-1.5.9-sources.jar -text
adit/lib/sources/xtee-server-1.0-RC1-sources.jar -text
adit/lib/spring-webmvc.jar -text
adit/lib/spring-ws-1.5.9-all.jar -text
adit/lib/spring.jar -text
adit/lib/xtee-server-1.0-RC1.jar -text
adit/pom.xml -text
adit/src/main/java/ee/adit/pojo/GetDocumentRequest.java -text
adit/src/main/java/ee/adit/pojo/GetDocumentResponse.java -text
adit/src/main/java/ee/adit/pojo/ObjectFactory.java -text
adit/src/main/java/ee/adit/pojo/package-info.java -text
adit/src/main/java/ee/adit/ws/endpoint/AbstractAditBaseEndpoint.java -text
adit/src/main/java/ee/adit/ws/endpoint/GetDocumentEndpoint.java -text
adit/src/main/resources/adit-castor-mapping.xml -text
adit/src/main/resources/adit-servlet.xml -text
adit/src/main/resources/adit.wsdl -text
adit/src/main/resources/adit.xsd -text
adit/src/main/resources/log4j.xml -text
adit/src/main/webapp/WEB-INF/web.xml -text
