<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>

  <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
      <layout class="org.apache.log4j.PatternLayout">
        <param name="ConversionPattern" value="%d{ISO8601}%5p %C:%L - %m%n"/>
    </layout>
    </appender>

    <appender name="file" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="file" value="/var/log/tomcat7/adit.log" />
    <param name="datePattern" value="'.'yyyy-MM-dd" />
    <param name="append" value="true" />
    <layout class="org.apache.log4j.PatternLayout">
        <param name="ConversionPattern" value="%d{ISO8601}%5p %C:%L - %m%n"/>
    </layout>
    </appender>

    <appender name="dvk" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="file" value="/var/log/tomcat7/adit_dvk.log" />
    <param name="datePattern" value="'.'yyyy-MM" />
    <param name="append" value="true" />
    <layout class="org.apache.log4j.PatternLayout">
        <param name="ConversionPattern" value="%d{ISO8601}%5p %C:%L - %m%n"/>
    </layout>
    </appender>

    <appender name="monitoring" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="/var/log/tomcat7/adit_monitoring.log" />
        <param name="datePattern" value="'.'yyyy-MM" />
        <param name="append" value="true" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601}%5p %C:%L - %m%n"/>
        </layout>
    </appender>

    <appender name="nagios" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="/var/log/tomcat7/adit_nagios.log" />
        <param name="datePattern" value="'.'yyyy-MM" />
        <param name="append" value="true" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601}%5p %C:%L - %m%n"/>
        </layout>
    </appender>

    <appender name="performance" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="/var/log/tomcat7/adit_performance.log" />
        <param name="datePattern" value="'.'yyyy-MM" />
        <param name="append" value="true" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601}%5p %C:%L - %m%n"/>
        </layout>
    </appender>

    <logger name="ee.adit.ws">
      <level value="INFO"/>
    </logger>

    <logger name="ee.adit.util">
      <level value="INFO"/>
    </logger>

    <logger name="ee.adit.dao">
      <level value="INFO"/>
    </logger>

    <logger name="ee.adit.dvk">
        <level value="INFO"/>
    </logger> 

    <logger name="ee.adit.service">
      <level value="INFO"/>
    </logger>

    <logger name="org.hibernate">
      <level value="WARN"/>
      <appender-ref ref="stdout"/>
    </logger>

    <logger name="ee.adit.schedule.ScheduleClient">
        <level value="INFO" />
    </logger>

    <!-- Digidoc signing loggers -->
    <logger name="org.digidoc4j">
        <level value="INFO"/>
    </logger>

    <logger name="ee.sk.digidoc">
      <level value="INFO"/>
    </logger>

    <!-- Performance info -->
    <logger name="ee.adit.performance">
        <level value="INFO"/>
        <appender-ref ref="performance" />
    </logger>

    <!-- Monitoring info -->
    <logger name="ee.adit.service.MonitorService">
        <level value="DEBUG"/>
        <appender-ref ref="monitoring" />
    </logger>

    <!-- Extra log for receivings from DVK-->
    <logger name="ee.adit.dvk" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="dvk"/>
    </logger>

    <!-- Naggios output file-->
    <logger name="ee.adit.util.NagiosLogger">
        <level value="INFO" />
        <appender-ref ref="nagios" />
    </logger>

    <!--Uncomment the below loggers to enable debugging mode-->
    <!--
    <logger name="org.digidoc4j" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="file"/>
    </logger>
    <logger name="ee.sk" additivity="false">
      <level value="DEBUG"/>
      <appender-ref ref="file"/>
    </logger>
    <logger name="ee.adit.ws" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="file"/>
    </logger>
    <logger name="ee.adit.util.Util" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="file"/>
    </logger>
    <logger name="ee.adit.schedule" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="file"/>
    </logger>
    -->

    <root>
    <level value="ERROR" />
    <appender-ref ref="file"/>
  </root>

</log4j:configuration>