<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
  <appender name="file" class="org.apache.log4j.RollingFileAppender">
    <param name="file" value="log/adit-test/adit.log" />
    <param name="datePattern" value="'.'yyyy-MM" />
    <param name="append" value="true" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ISO8601}%5p %C - %m%n" />
    </layout>
  </appender>
  <appender name="dvk" class="org.apache.log4j.RollingFileAppender">
    <param name="file" value="log/adit-test/adit_dvk.log" />
    <param name="datePattern" value="'.'yyyy-MM" />
    <param name="append" value="true" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ISO8601}%5p %C - %m%n" />
    </layout>
  </appender>
  <appender name="monitoring" class="org.apache.log4j.RollingFileAppender">
    <param name="file" value="log/adit-test/adit_monitoring.log" />
    <param name="datePattern" value="'.'yyyy-MM" />
    <param name="append" value="true" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ISO8601}%5p %C - %m%n" />
    </layout>
  </appender>
  <appender name="nagios" class="org.apache.log4j.RollingFileAppender">
    <param name="file" value="log/adit-test/adit_nagios.log" />
    <param name="datePattern" value="'.'yyyy-MM" />
    <param name="append" value="true" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ISO8601}%5p %C - %m%n" />
    </layout>
  </appender>
  <appender name="performance" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="file" value="log/adit-test/adit_performance.log" />
    <param name="datePattern" value="'.'yyyy-MM" />
    <param name="append" value="true" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ISO8601}%5p %m%n" />
    </layout>
  </appender>
  <logger name="ee.adit.performance">
    <level value="INFO"></level>
    <appender-ref ref="performance" />
  </logger>
  <logger name="ee.adit.ws">
    <level value="DEBUG"></level>
  </logger>
  <logger name="ee.adit.util">
    <level value="DEBUG"></level>
  </logger>
  <logger name="ee.adit.dao">
    <level value="INFO"></level>
  </logger>
  <logger name="ee.adit.service">
    <level value="INFO"></level>
  </logger>
  <logger name="dvk">
    <level value="INFO"></level>
  </logger>
  <logger name="ee.adit.dvk">
    <level value="INFO" />
    <appender-ref ref="dvk" />
  </logger>
  <logger name="ee.adit.service.MonitorService">
    <level value="INFO" />
    <appender-ref ref="monitoring" />
  </logger>
  <!-- Nagios output to file -->
  <logger name="ee.adit.util.NagiosLogger">
    <level value="INFO" />
    <appender-ref ref="nagios" />
  </logger>
  <logger name="org.hibernate">
    <level value="WARN"></level>
  </logger>
   <logger name="org.digidoc4j">
    <level value="WARN" />
  </logger> 
  <logger name="ee.sk.utils.ConfigManager">
    <level value="ERROR" />
  </logger>
  <logger name="ee.sk.digidoc.DigiDocException">
    <level value="ERROR" />
  </logger>
  <logger name="ee.sk.digidoc.factory.PKCS11SignatureFactory">
    <level value="ERROR" />
  </logger>
  <logger name="ee.sk.digidoc.factory.IAIKNotaryFactory">
    <level value="ERROR" />
  </logger>
  <logger name="ee.sk.xmlenc.factory.EncryptedDataSAXParser">
    <level value="ERROR" />
  </logger>
  <logger name="ee.sk.xmlenc.EncryptedKey">
    <level value="ERROR" />
  </logger>
  <logger name="ee.sk.digidoc.Base64Util">
    <level value="ERROR" />
  </logger>
  <logger name="ee.sk.digidoc.factory.SAXDigiDocFactory">
    <level value="ERROR" />
  </logger>
  <logger name="ee.sk.digidoc.factory.BouncyCastleNotaryFactory">
    <level value="ERROR" />
  </logger>
  <logger name="ee.sk.xmlenc.factory.EncryptedStreamSAXParser">
    <level value="ERROR" />
  </logger>
  <logger name="ee.sk.digidoc.DataFile">
    <level value="ERROR" />
  </logger>
  <logger name="ee.sk.xmlenc.EncryptedData">
    <level value="ERROR" />
  </logger>
  <logger name="org.springframework">
    <level value="ERROR" />
  </logger>
  <logger name="org.springframework.orm.hibernate3">
    <level value="ERROR" />
  </logger>
  <logger name="ee.webmedia">
    <level value="ERROR" />
  </logger>
  <logger name="ee.adit.schedule.ScheduleClient">
    <level value="INFO" />
  </logger>
  <root>
    <level value="error" />
    <appender-ref ref="file" />
  </root>
</log4j:configuration>
